/* variable de colores y radio de bordes*/
:root{
    --primary:#E5C4FF;
    --radio-borde: 0.5rem;
    --secundaryLight:#EEA6A7;
    --box-shadow:#CA91FB;
}
img{
    width: 130px;

}
/* barra de navegacion */
.barra-de-navegacion{
    background: var(--primary);
    box-shadow: white;
    background-image: linear-gradient(white, var(--primary));
   
   
   display: flex;

   justify-content: space-between;
   align-items: center;
   
}

 /* enlaces barra de navegacion */
.navegacion a{
    padding: 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
  

    /* color de letra  */
    color: rgb(16, 15, 15);
}
/* cuando paza el raton por las letras */
.navegacion a:hover{
    background-image: linear-gradient(white, var(--primary));

     border-radius: 5px;
}
.portada{
    background-repeat: no-repeat;
    background-size: cover;
  height: 500px;
    width: 100%;
}
button{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(white, var(--primary));
    padding: 1rem, 3rem;
    font-size: 2rem;
    font-weight: bold;
   
    border-radius: var(--radio-borde);
    width: 100%;
    max-width: 450px;

    text-align: center;
    color: black;
    justify-content: space-around;

    
}


.container{
    background-image: url(../img/globos.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-size: cover;
    background-position: center;
    box-shadow: #441f64;
}
.container h1{
  
    color: #441f64;
    font-weight: bold;
   text-align: center;
   justify-content: center;
   text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}



.enlace2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    
    
}
.servicios3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  
 

}
@media (max-width:500px){
    .servicios3{
        flex-direction: column;
    
    }
}
.enlace2 img{
   width: 45px;
   background-image: linear-gradient(white, var(--primary));
  
   border-radius: 35%;
   height: 7rem;
   width: 7rem;
   padding: 1rem;
  
}
.servicios2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
@media (max-width:500px){
    .servicios2{
        flex-direction: column;
    }
}
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom:2rem;

}
.contenedor{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  
    
}
.enlace2 a{
    text-decoration: none;
 
    font-weight: bold;
    font-size: 20px;
    line-height: 3rem;

    

}

.contenedor h2{
    
    text-align: center;

    padding: 15px 0;
    
}
main{
    background-image: linear-gradient(white, var(--primary));
}
.carousel-item img{
    display: flex;
    width: 100%;
   max-width: 450px;
   height: 450px;
   justify-content: center;


}
.carrusel{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
    font-size:1rem;

    
}
.contactanos h2{
    font-size: 25px;
    text-align: center;
    color: rgb(100, 33, 113);
    font-weight: bold;
    margin-bottom: 2rem;


}
.container3{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #CA91FB;
    border-radius: 1rem;
    margin: 3rem;

   
   
    
}
.enlace3{
    display: flex;
    margin:2rem 0;
    font-size:1rem;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
   


}
.formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

    }
    footer span{
        font-size: 1rem;
        
    
    }
    footer{
        text-align: center;
        margin: 1rem;
        background-image: linear-gradient(white, var(--primary));
    }

 